<nav class="navbar navbar-expand-lg nav-body">
        <div class="container-fluid">
            <a href="/"><img class="ms-5" src="/public/assets/logo.png" alt="Logo Dumbways"></a>
            <div class="collapse navbar-collapse nav-items" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-home {{#if homeActive}} active {{/if}} ms-5" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-blog {{#if apActive}} active {{/if}}" href="/addproject">Add project</a>
                    </li>
                </ul>
                <div class="d-flex nav-cm">
                    <a class="btn button-dw me-5" href="/contact">Contact me</a>
                </div>
            </div>
        </div>
    </nav>