<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <!--NAV START-->
    {{> navbar}}
    <!--NAV END-->

    <!--CONTACT START-->
    <div class="cm-title my-5">
        <p>GET IN TOUCH</p>
    </div>
    <div class="cm-container m-auto">
        <form class="form-container" action="/contact" method="POST" name="contact">
            <div class="mb-3">
                <label for="formInputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="formInputName" name="mame" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="formInputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="formInputEmail" name="email">
            </div>
            <div class="mb-3">
                <label for="formInputEmail" class="form-label">Phone Number</label>
                <input type="number" pattern="[0-9]" class="form-control" id="formInputEmail" name="phone">
            </div>
            <div class="mb-3">
                <label for="formInputSubject" class="form-label">Subject</label>
                <select name="subject" class="form-select" id="formInputSubject">
                    <option hidden></option>
                        <option>Let's Talk</option>
                        <option>Let's colaborate</option>
                        <option>I'm Hiring</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="contactMessage">Your message</label>
                <textarea class="form-control" name="message" id="contactMessage"></textarea>
            </div>
            <div class="form-button text-end">
                <button type="submit" class="contact-button">Submit</button>
            </div>
        </form>
    </div>
    <!--CONTACT END-->
</body>

</html>