<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <!--NAV START-->
    {{> navbar}}
    <!--NAV END-->

    <div class="index-container" style="height: 93vh;">
        <!--CARD START-->
        <div class="d-flex top-container justify-content-center" style="width: 100%; height: 100%;">
            <div class="d-flex personal-card m-auto justify-content-between" style="width: 90%;">
                <div class="card-left w-50">
                    <h5 class="card-title fs-3">Hi! Welcome to my personal website!</h5>
                    <p class="card-text">My name is Ananda Rizky Alvie Nuryahya, I was born in Bekasi and growing up in Bali. I'm a high school graduate with Multimedia school major. I worked for 6 months in My previous job as an IT Specialist to install sensory electronic
                        water meter devices for Continuous Online Wastewater Quality Monitoring System.</p>
                    <div class="pc-btn">
                        <div class="pc-contact">
                            <a href="https://wa.me/62895413416500" target="_blank">Contact</a>
                        </div>
                        <div class="pc-cv">
                            <a href="public/assets/cv.pdf" download="public/assets/cv.pdf" target="_blank">Download Cv <i class="fa-solid fa-download"></i></a>
                        </div>
                    </div>
                    <!--SM = Social Media -->
                    <div class="pc-sm mt-5">
                        <a href="https://www.linkedin.com/in/ananda-rizky-alvie-nuryahya-16b836237/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/rizkyalvie/" target="_blank"><i class="fa fa-circle fa-brands fa-instagram-square"></i></a>
                        <a href="https://www.facebook.com/rizkyalviee" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
                        <a href="https://twitter.com/rizkyalviee" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
                    </div>
                </div>

                <div class="card-right">
                    <div class="pc-image">
                        <img src="public/assets/me.jpg" alt="My Photo">
                        <h2>Rizky Alvie</h2>
                        <h5>Fullstack Developer</h5>
                    </div>
                </div>
            </div>
        </div>
        <!--CARD END-->

        <!--MP START-->
        <!--MP = My Project-->
        <div class="mp-container">
            <div class="mp-title mb-5">
                <p>My Project</p>
            </div>
            <div class="mpc-container">
                <div class="row">
                    <div class="col-3 mp-card mx-5">
                        <!--MPC = My Project Card-->
                        <div class="mpc-img">
                            <img src="public/assets/DWB.png" alt="">
                        </div>
                        <div class="mpc-title">
                            <a href="/project-detail" target="_blank">
                                <p>Dumbways Bootcamp 2022</p>
                            </a>
                            <small>Durasi: 3 Bulan</small>
                        </div>
                        <div class="mpc-content">
                            DumbWays merupakan Coding Bootcamp GRATIS! Pertama di Indonesia hingga disalurkan kerja. Alumni DumbWays dibekali dengan kemampuan Coding Standard Industri Terkini, hingga siap bersaing di dunia kerja.
                        </div>
                        <div class="mpc-icons">
                            <i class="fa-brands fa-html5"></i>
                            <i class="fa-brands fa-css3-alt"></i>
                            <i class="fa-brands fa-node-js"></i>
                            <i class="fa-brands fa-react"></i>
                        </div>
                        <div class="mpc-mod">
                            <button>Edit</button>
                            <button>Delete</button>
                        </div>
                    </div>
                    <div class="col-3 mp-card mx-5">
                        <!--MPC = My Project Card-->
                        <div class="mpc-img">
                            <img src="public/assets/DWB.png" alt="">
                        </div>
                        <div class="mpc-title">
                            <a href="/project-detail" target="_blank">
                                <p>Dumbways Bootcamp 2022</p>
                            </a>
                            <small>Durasi: 3 Bulan</small>
                        </div>
                        <div class="mpc-content">
                            DumbWays merupakan Coding Bootcamp GRATIS! Pertama di Indonesia hingga disalurkan kerja. Alumni DumbWays dibekali dengan kemampuan Coding Standard Industri Terkini, hingga siap bersaing di dunia kerja.
                        </div>
                        <div class="mpc-icons">
                            <i class="fa-brands fa-html5"></i>
                            <i class="fa-brands fa-css3-alt"></i>
                            <i class="fa-brands fa-node-js"></i>
                            <i class="fa-brands fa-react"></i>
                        </div>
                        <div class="mpc-mod">
                            <button>Edit</button>
                            <button>Delete</button>
                        </div>
                    </div>
                    <div class="col-3 mp-card mx-5">
                        <!--MPC = My Project Card-->
                        <div class="mpc-img">
                            <img src="public/assets/DWB.png" alt="">
                        </div>
                        <div class="mpc-title">
                            <a href="/project-detail target=" _blank "">
                                <p>Dumbways Bootcamp 2022</p>
                            </a>
                            <small>Durasi: 3 Bulan</small>
                        </div>
                        <div class="mpc-content">
                            DumbWays merupakan Coding Bootcamp GRATIS! Pertama di Indonesia hingga disalurkan kerja. Alumni DumbWays dibekali dengan kemampuan Coding Standard Industri Terkini, hingga siap bersaing di dunia kerja.
                        </div>
                        <div class="mpc-icons">
                            <i class="fa-brands fa-html5"></i>
                            <i class="fa-brands fa-css3-alt"></i>
                            <i class="fa-brands fa-node-js"></i>
                            <i class="fa-brands fa-react"></i>
                        </div>
                        <div class="mpc-mod">
                            <button>Edit</button>
                            <button>Delete</button>
                        </div>
                    </div>
                    <div class="col-3 mp-card mx-5">
                        <!--MPC = My Project Card-->
                        <div class="mpc-img">
                            <img src="public/assets/DWB.png" alt="">
                        </div>
                        <div class="mpc-title">
                            <a href="/project-detail target=" _blank "">
                                <p>Dumbways Bootcamp 2022</p>
                            </a>
                            <small>Durasi: 3 Bulan</small>
                        </div>
                        <div class="mpc-content">
                            DumbWays merupakan Coding Bootcamp GRATIS! Pertama di Indonesia hingga disalurkan kerja. Alumni DumbWays dibekali dengan kemampuan Coding Standard Industri Terkini, hingga siap bersaing di dunia kerja.
                        </div>
                        <div class="mpc-icons">
                            <i class="fa-brands fa-html5"></i>
                            <i class="fa-brands fa-css3-alt"></i>
                            <i class="fa-brands fa-node-js"></i>
                            <i class="fa-brands fa-react"></i>
                        </div>
                        <div class="mpc-mod">
                            <button>Edit</button>
                            <button>Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--MP END-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>