<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> navbar}}
    <!--ADD PROJECT-->
    
    <div class="d-flex align-items-center justify-content-center" style="flex-direction: column; margin-top: 90px;">
        <div class="ap-title my-2">
        <p>Register Account</p>
    </div>
        <div class="ap-form">
        <form action="/register" method="POST">
        <div class="mb-3">
                <label for="projectInputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="registerName" name="registerName">
            </div>
            <div class="mb-3">
                <label for="projectInputName" class="form-label">Email</label>
                <input type="email" class="form-control" id="registerEmail" name="registerEmail">
            </div>
            <div class="mb-3">
                <label for="projectInputName" class="form-label">Password</label>
                <input type="password" class="form-control" id="registerPassword" name="registerPassword">
            </div>
            <div class="ap-btn text-end">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
    <!--ADD PROJECT END-->
</body>

</html>